$brand-primary-colour: #d16666;
$brand-secondary-colour: #2c4251;
$brand-tertiary-colour: #ffffff;

/*
Colour palette

silver-sand:    #c1c1c1;
charcoal:       #2c4251;
fuzzy-wuzzy:    #d16666;
android-green:  #b6c649;
white:          #ffffff;
*/